.nav {
  height: 100px;
  overflow-y: hidden;
  .noScrollBar {
    overflow-x: scroll; /*核心样式*/
    height: 112px;
    .navList {
      font-size: 40px;
      height: 100px;
      white-space: nowrap; /*核心样式*/
      display: flex;
      align-items: center;
      .title {
        color: #333;
        // display: flex;
        display: inline-block; /*核心样式*/
        &.active {
          color: #50bafe;
        }
        padding: 0 30px;
      }
    }
  }
}
