.index {
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  .labels {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img {
        width: 86px;
        height: 86px;
      }
      .title {
        margin-top: 14px;
        color: #3a4e73;
        font-size: 26px;
      }
    }
  }
  .load-more {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .load-finish {
      color: rgb(92, 171, 255);
    }
  }
}
