.index {
  flex-direction: column;
  width: 100%;
  .labels {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img {
        width: 86px;
        height: 86px;
      }
      .title {
        margin-top: 14px;
        color: #3a4e73;
        font-size: 26px;
      }
    }
  }
}
